{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block main %}

    <div class="ui menu navbar fixed">
        <div class="ui container">

            <a href="{% url 'homepage' %}" class="header item">
                <img class="ui logo" src="{% static "img/header-logo.png" %}">
            </a>

            <div class="right menu">
                <a href="#" class="item active right nav-menu-link">Conversations</a>
                <div class="ui simple dropdown item right">
                    Account <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{% url 'signout' %}">Sign Out</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ui container page-content">
        <div class="ui grid">

            {% block secondary_bar %}
            <div class="column sixteen wide secondary-menu-bar">
                <div class="ui secondary menu">
                    <a class="active item" href="{% url 'messenger:conversations' %}">All Conservations</a>
                    <a class="item" href="{% url 'messenger:conversations' %}?init=1">Started By Me</a>
                    <a class="item" href="{% url 'messenger:conversation_start' %}"><i class="plus icon"></i> New Conversation</a>
                    <div class="right menu">
                        <div class="item">
                            <form method="GET" action="{% url 'messenger:conversations' %}">
                                <div class="ui icon input">
                                    <input placeholder="Search..." type="search" name="q">
                                    <i class="search icon"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            {% endblock %}

            {% block page_content %}

            {% endblock %}

        </div>
    </div>
    <!--
    <div class="ui container footer">
        <div class="ui grid">
            <div class="sixteen wide column">
                Phantom Messenger. ©2016 <a href="http://github.com/andela-kanyanwu/">Kosy Anyanwu</a>. #TIA
            </div>
        </div>
    </div>
    -->
{% endblock %}
