{% extends "base.html" %}
{% load static %}

{% block title %}Feedback | Home{% endblock %}

{% block main %}

    <h1>My Home View</h1>

    <div id="app">
        <input id="user-signout" type="submit" value="Sign out">
        <center>
            <p>IF YOU FIND YOURSELF HERE, THEN YOU HAVE BEEN AUTHENTICATED.</p>

        </center>
        <form id="sendFeedbackForm" method="POST" action="{% url 'send_feedback' %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            Slack username:<br>
            <input type="text" name="slack_username"><br>
            Message:<br>
            <input type="text" name="slack_message">
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}

